:root {
    /* default theme (light) */
    --b-high: #201e21;
    --b-inv: #000000;
    --b-inv-max: #000000;
    --b-low: #f5f5f5;
    --b-med: #ffffff;
    --background: #eeefee;
    --f-high: #313131;
    --f-inv: #ffffff;
    --f-inv-max: #ffffff;
    --f-low: #cccccc;
    --f-med: #e73d50;
    /* theme variations */
    --b-high-alt: color-mix(in srgb, var(--b-high), var(--f-max) 10%);
    --b-med-alt: color-mix(in srgb, var(--b-med), var(--f-max) 10%);
    --b-low-alt: color-mix(in srgb, var(--b-low), var(--f-max) 10%);
    --f-high-alt: color-mix(in srgb, var(--f-high), var(--b-max) 10%);
    --f-med-alt: color-mix(in srgb, var(--f-med), var(--b-max) 10%);
    --f-low-alt: color-mix(in srgb, var(--f-low), var(--b-max) 10%);
    /* sizes */
    --border-radius: 5px;
    --border-radius-large: 12px;
    --border-radius-small: 3px;
    --header-height: 60px;
    --item-height-small: 12px;
    --item-height: 40px;
    --main-width: 500px;
    /* config */
    --transition: 0.3s;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background);
}

body {
    margin: 0;
    padding: 0;
    height: 100cqh;
}
